bind "0""slot10"
bind "1" "slot1"
bind "2" "slot2"
bind "3" "slot3"
bind "4" "slot4"
bind "5" "slot5"
bind "6" "slot6"
bind "7" ""
bind "8" ""
bind "9" ""
bind "a" "+left"
bind "b" ""
bind "c" "player_ping"
bind "d" "+right"
bind "e" "buymenu"
bind "f" "+use"
bind "g" "drop"
bind "h" "say .ready"
bind "i" ""
bind "j" ""
bind "k" ""
bind "l" ""
bind "m" "teammenu"
bind "n" "messagemode2"
bind "o" ""
bind "p" ""
bind "q" "lastinv"
bind "r" "+reload"
bind "s" "+back"
bind "t" "use weapon_c4; drop"
bind "u" ""
bind "v" "+lookatweapon"
bind "w" "+forward"
bind "x" "use weapon_knife; use weapon_flashbang"
bind "y" "messagemode"
bind "z" "messagemode"
bind "[" "invprev"
bind "]" "invnext"
bind "'" "+moveup"
bind "\" "toggleconsole"
bind "," "ignorerad"
bind "." "buy secammo"
bind "/" "+movedown"
bind "-" "sizedown"
bind "=" "sizeup"
bind "ENTER" "+attack"
bind "SPACE" "+jump"
bind "TAB" "+showscores"
bind "ESCAPE" "cancelselect"
bind "INS" "+klook"
bind "END" "centerview"
bind "PGUP" "+lookup"
bind "PGDN" "+lookdown"
bind "PAUSE" "pause"
bind "shift" "+sprint"
bind "ALT" "+strafe"
bind "CTRL" "+duck"
bind "UPARROW" "+forward"
bind "LEFTARROW" "+left"
bind "DOWNARROW" "+back"
bind "RIGHTARROW" "+right"
bind "F1" ""
bind "F2" "r_cleardecals"
bind "F3" "askconnect_accept"
bind "F4" "bug"
bind "F5" "jpeg"
bind "F10" ""
bind "MOUSE1" "+attack"
bind "MOUSE2" "+attack2"
BIND "MOUSE4" "+voicerecord
bind "MWHEELUP" "invprev"
bind "MWHEELDOWN" "invnext"
adsp_debug "0"
c_maxdistance "200"
c_maxpitch "90"
c_maxyaw "135"
c_mindistance "30"
c_minpitch "0"
c_minyaw "-135"
c_orthoheight "100"
c_orthowidth "100"
c_thirdpersonshoulder "false"
c_thirdpersonshoulderaimdist "120.0"
c_thirdpersonshoulderdist "40.0"
c_thirdpersonshoulderheight "5.0"
c_thirdpersonshoulderoffset "20.0"
cam_collision "1"
cam_idealdelta "4.0"
cam_idealdist "150"
cam_ideallag "4.0"
cam_idealpitch "0"
cam_idealyaw "0"
cam_snapto "0"
cc_lang ""
cc_linger_time "1.0"
cc_subtitles "0"
cl_autohelp "0"
cl_chatfilters "63"
cl_clanid "0"
cl_mouselook "1"
cl_playerspraydisable "0"
cl_showloadout "0"
cl_timeout "30"
closecaption "0"
con_enable "1"
crosshair "1"
func_break_max_pieces "15"
gameinstructor_enable "0"
hud_showtargetid "1"
joy_advanced "0"
joy_advaxisr "0"
joy_advaxisu "0"
joy_advaxisv "0"
joy_advaxisx "0"
joy_advaxisy "0"
joy_advaxisz "0"
joy_axisbutton_threshold "0.3"
joy_display_input "0"
joy_movement_stick "0"
joy_name "joystick"
joy_pitchsensitivity "-1"
joy_response_look "0"
joy_response_move "1"
joy_sidesensitivity "1"
joy_wingmanwarrior_centerhack "0"
joy_wingmanwarrior_turnhack "0"
joy_yawsensitivity "-1"
joystick "0"
lockMoveControllerRet "0"
mm_server_search_lan_ports "27015,27016,27017,27018,27019,27020"
name "JUSTUS CAESAR"
net_allow_multicast "1"
net_maxroutable "1200"
option_duck_method "0"
option_speed_method "0"
password ""
player_botdifflast_s "2"
player_teamplayedlast "3"
r_drawtracers_firstperson "0"
safezonex "1.0"
safezoney "1.0"
sixense_exit_one_to_one_dot "0.85"
sixense_feet_angles_offset_stick_spin_exponent "1.0"
sixense_feet_angles_offset_stick_spin_horiz_multiplier "4.0"
sixense_feet_angles_offset_stick_spin_invert_pitch "1.0"
sixense_feet_angles_offset_stick_spin_vert_multiplier "2.0"
sixense_filter_level "0.5"
sixense_jump_sensitivity "1.2"
sixense_left_handed "0"
sixense_max_charge_spin "3.0f"
sixense_melee_pitch_blend_val "0.99"
sixense_mode "0"
sixense_mouse_enabled "1.0"
sixense_mouse_sensitivity "1.0"
sixense_point_gesture_angle_threshold "15.0"
sixense_reload_sensitivity "1.5"
sixense_roll_correct_blend "0.965f"
sixense_sensitivity_level "-1"
sixense_spring_view_enabled "1.0f"
sixense_spring_view_max_angle "45.0f"
sixense_spring_view_max_spring "0.9999f"
sixense_spring_view_min_angle "1.0f"
sixense_spring_view_min_spring "0.025f"
sixense_tilt_gesture_angle_threshold "35.0"
sixense_trigger_threshold "0.05"
sixense_walking_dead_zone_percent "10.0"
sixense_walking_exponent "1.0"
sixense_weapon_select_sensitivity "1.65"
sixense_zoom_momentary_time "500"
sk_autoaim_mode "1"
snd_duckerattacktime "0.5"
snd_duckerreleasetime "2.5"
snd_duckerthreshold "0.15"
snd_ducktovolume "0.55"
snd_music_selection "001"
snd_rear_speaker_scale "1.0"
spec_replay_autostart "0"
sv_log_onefile "0"
sv_logbans "0"
sv_logecho "1"
sv_logfile "1"
sv_logflush "0"
sv_logsdir "logs"
sv_noclipaccelerate "5"
sv_noclipspeed "5"
sv_skyname "sky_urb01"
sv_specaccelerate "5"
sv_specnoclip "1"
sv_specspeed "3"
sv_unlockedchapters "1"
sv_voiceenable "1"
tv_nochat "0"
ui_steam_overlay_notification_position "topleft"
voice_modenable "1"
snd_voipvolume "0.8"
voice_threshold "2000"
weapon_debug_spread_gap "0.67"
weapon_debug_spread_show "0"

// NETSETTINGS
rate "128000"
cl_interpolate "1"
cl_lagcompensation "1"

// MOUSE
m_pitch "0.022"
m_yaw "0.022"
sensitivity "1.8" // ZOWIE EC2-A 400dpi 1000hz
zoom_sensitivity_ratio "0.818933027098955175" // see reddit for infos

// VIDEO
fps_max "300"
fps_max_ui "145"
r_dynamic "0"
mat_queue_mode "-1" // auto detect multi-core rendering

// CROSSHAIR
cl_crosshairalpha "200"
cl_crosshaircolor "5"
cl_crosshaircolor_r "255"
cl_crosshaircolor_g "0"
cl_crosshaircolor_b "255"
cl_crosshairdot "0"
cl_crosshairgap "0"
cl_crosshairsize "3"
cl_crosshairstyle "5"
cl_crosshairusealpha "1"
cl_crosshairthickness "1.5"
cl_fixedcrosshairgap "0"
cl_crosshair_outline "0"
cl_crosshair_outline_draw "0"

// VIEWMODEL
viewmodel_fov "65"
viewmodel_offset_x "2.5"
viewmodel_offset_y "2"
viewmodel_offset_z "-2"

// NETGRAPH
cq_netgraph "1"

// SOUND
volume "0.50"
voice_modenable "1"
snd_mixahead "0.05"
snd_front_headphone_position "45.0"
snd_rear_headphone_position "90.0"
snd_headphone_pan_exponent "1.2"
snd_headphone_pan_radial_weight "0.5"
snd_musicvolume "0"
snd_menumusic_volume "0"
snd_mute_losefocus "1"

// BUYSCRIPT
bind "KP_1" "buy incgrenade;buy molotov"
bind "j" "buy incgrenade;buy molotov"
bind "KP_2" "buy p90; buy vest"
bind "k" "buy P90; buy vest"
bind "KP_3" "buy galilar; buy famas; buy vest"
bind "l" "buy galilar; buy famas; buy vest"
bind "KP_4" "buy ak47; buy m4a1; buy vesthelm"
bind "u" "buy ak47; buy m4a1; buy vesthelm"
bind "KP_5" "buy awp"
bind "i" "buy awp"
bind "KP_6" "buy smokegrenade"
bind "o" "buy smokegrenade"
bind "KP_7" "buy flashbang"
bind "7" "buy flashbang"
bind "KP_8" "buy defuser"
bind "8" "buy defuser"
bind "9" "buy vest;buy vesthelm"
bind "KP_9" "buy vest;buy vesthelm"
bind "KP_DEL" "cl_righthand 1;timeleft"
bind "KP_DIVIDE" ""
bind "KP_MULTIPLY" "buy hegrenade"
bind "p" "buy hegrenade"
bind "KP_enter" ""
bind "KP_PLUS" ""
bind "KP_MINUS" ""
bind "KP_0" ""

// RADAR
cl_radar_always_centered "1"
cl_radar_scale "0.35"
cl_hud_radar_scale "1"
cl_radar_icon_scale_min "1"
cl_radar_rotate "1"
cl_radar_square_with_scoreboard "0"

// MISC
cl_teamid_overhead_always "1"
hud_scaling "1"
mp_playerid_delay "0"
cl_show_clan_in_death_notice "0"
con_filter_enable "2"
con_filter "Damage"
cl_color "1" // 0 = yellow , 1 = purple , 2 = green , 3 = blue , 4 = orange
cl_hud_color "5" // 0 = default, 1 = white, 2 = light blue, 3 = dark blue, 4 = purple, 5 = red, 6 = orange, 7 = yellow, 8 = light green, 9 = turquois, 10 = pink
cl_teammate_colors_show "1" // 1 = color , 2 = color + letters
cl_join_advertise "2" // let your friends join your community server without an invitation
mm_dedicated_search_maxping "80" // max ping for matchmaking games
player_nevershow_communityservermessage "1"
bind "enter" "say k"

// ECHO
echo ""
echo "September 2023"
echo "CS2 version"
echo "contact: justusbersten@gmail.com"
echo "phecks.bersten"
echo ""
stuffcmds
